:root {
    --color1: #f8b78b;
    --color2: #fcb173;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--color1);
    background-image: url(../images/fondoTop.svg), url(../images/fondoBotton.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw; /* Ajusta el ancho máximo para evitar scroll horizontal */
  }
  
  .card {
    background-color: white;
    width: 328px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    
    &-header {
      width: 100%;
      display: block;
    }
  
    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid var(--color2);
  
      &-contentimg {
        border: 5px solid #f67c55;
        border-radius: 50%;
        background-color: #fcd3c6;
        box-shadow: 0px -10px 20px #f67c55;
        position: relative; /* Añadido para permitir el posicionamiento relativo */
        margin-top: calc(-50px - 8px);
  
        &-img {
          padding: 20px;
        }
      }
  
      &-title {
        margin-top: 2rem;
        font-size: 3rem;
  
        span {
          color: var(--color2);
        }
      }

      &-text {
        font-size: medium;
      }
    }
  
    &-footer {
      display: flex;
      justify-content: space-around;
  
      &-poder {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
    }
  }
  
  /* Media query para pantallas grandes */
  @media (min-width: 1024px) {
    .container {
      height: calc(100vh - 20px); /* Ajusta la altura para evitar scroll vertical */
      padding: 10px; /* Añade un padding para evitar que el contenido toque los bordes */
    }
    
    .card {
      width: 50vw; /* Ajusta el ancho de la tarjeta en pantallas grandes */
      max-width: 600px; /* Ancho máximo de la tarjeta */
    }
  }
  